@import url('https://fonts.googleapis.com/css?family=Nunito');

body{
  font-family: 'Nunito', sans-serif;
  height: 100%;
}

#profs{
  font-size: 30px;
  margin: 0 10px 5px 10px;
  text-align: center;
  margin: auto;
  padding: 20px;
  background-color: #44729A;
  color: white;
}

#profs select {
  display: table;
  margin: auto;
  margin-top: 5px;
  width: 20%;
  font-size: 20px;
}

#profs option {
  text-align: center;
}

#wrapper{
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: white;
  display: table;
}

.left{
  float: left;
  box-sizing: border-box;
  padding: 10px;
  width: 50%;
  display: table;
}

.right{
  float: right;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.vtable{
  padding: 5px;
  width: 100%;
  background-color: white;
  table-layout: fixed;
}

#alleVeranstaltungen{

}

#veranstaltungen{

}

#alleVeranstaltungen , #veranstaltungen{
  max-height: 400px;
  overflow-y: scroll;
  direction: rtl;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}

#alleVeranstaltungen table, #veranstaltungen table{
  direction: ltr;
  font-size: 15px;
  float: left;
}

#alleVeranstaltungen table td, #veranstaltungen table td{
  border-bottom: solid #003333 1px;
  padding: 5px 0px;
}

#alleVeranstaltungen, #veranstaltungen{
  float: left;
}

#alleVeranstaltungen::-webkit-scrollbar-track , #veranstaltungen::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #44729A;
}

#alleVeranstaltungen::-webkit-scrollbar , #veranstaltungen::-webkit-scrollbar{
  width: 6px;
	background-color: red;
}

#alleVeranstaltungen::-webkit-scrollbar-thumb , #veranstaltungen::-webkit-scrollbar-thumb{
  background-color: white;
}



.button{
  background-color: white;
  border: 0px;
}

.test{
  background-color: red;
  width: 50%;
}

.test fach{
  width: auto;
  display: table-cell;
}

.icon{
  display: table-cell;
}

div.tab {
    overflow: hidden;
    width: 100%;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    background-color: #f1f1f1;
    width: 25%;
}

div.tab button:hover {
    background-color: #44729A;
    color: white;
}

div.tab button.active {
  background-color: #95b4d0;
  color: white;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

#vsuche[type=text] {
  width: 25%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
#vsuche[type=text]:focus {
    width: 50%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(113,156,193,0.8); /* Black w/ opacity */
}

#hinweis{
  display: none;
  font-weight: 12px;
  color: red;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}

.modal-btn {
  padding: 5px 10px;
  background:  #d9d9d9;
  margin: 5px;
  border: none;
}

.modal-input {
  margin: auto;
  width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
